{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<!-- Latest compiled and minified CSS -->

{% include 'head.html' %}
<style>
{% block style %}{% endblock %}
</style>

{% block head_extra %} {% endblock head_extra %}

</head>
<body class=" app-projects model-project change-list"
  data-admin-utc-offset="19800">


<div id="fb-root"></div>
<div class='container'>
        {% block content %}{% endblock content %}
</div>
<!-- Latest compiled and minified JavaScript -->
</body>
</html>




