{% extends "base.html" %}
{% block content %}
<!-- Container -->

    <!-- Content -->
    <div id="content" class="flex">

        <h1><b>Documents</b></h1>

  <div id="content-main">


        <ul class="object-tools">

            <li>

              <a href="/add/document/" class="addlink">
                Add document
              </a>
            </li>

        </ul>
<div class="module" id="changelist">
<form id="changelist-form" method="post" novalidate>{% csrf_token %}
<div class="results">
<table id="result_list">
<thead>
<tr>
<th scope="co0"  class="action-checkbox-column">
   <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-file">
   <div class="text"><a href="?o=1">Name of Document</a></div>
   <div class="clear"></div>
</th>
<th scope="co2"  class="sortable column-created">
   <div class="text"><a href="?o=2">Created</a></div>
   <div class="clear"></div>
</th>
<th scope="co3"  class="sortable column-project">
   <div class="text"><a href="?o=3">Project</a></div>
   <div class="clear"></div>
</th>
<th scope="co4"  class="sortable column-addlink">
    <div class="text"><a href="?o=4">Add</a></div>
    <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for obj in documents %}
    <tr class="row1">
        <td class="action-checkbox">
            <input class="action-select" name="_selected_action" type="checkbox" value="{{ obj.id }}" />
        </td>
        <th class="field-field"><a href="/media/{{ obj.file }}"> {{ obj.doc_name }}</a></th>
        <td class="field-created nowrap">{{ obj.created }}</td>
        <td class="field-created nowrap">{{ obj.project.name_of_project }}</td>
        <td class="field-addlink"><a href="/add/document/"><img src="/static/admin/img/icon-addlink.svg" alt="Add" /></a></td>
    </tr>
{% endfor %}

</tbody>
</table>
</div>

      </form>
    </div>
  </div>
        <br class="clear" />
    </div>

    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->
{% endblock %}

