{% extends "base.html" %}
{% block content %}

<!-- Container -->
<div id="container">

<div class="breadcrumbs">
<a href="/project/">Home</a> |
<a href="/document/">Document</a>
</div>
<h1>Documents ({{ no_document }})</h1>
<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col"  class="action-checkbox-column">
   <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-name_of_project">
   <div class="text"><a href="?o=1">Name of Document</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-created">
   <div class="text"><a href="?o=2">Upload on</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for obj in documents %}
    <tr class="row1">
        <td class="action-checkbox">
            <input class="action-select" name="_selected_action" type="checkbox" value="6" />
        </td>
        <th class="field-name_of_document">{{ obj }}</th>
        <th class="field-name_of_document">{{ obj.created }}</th>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

</div>
{% endblock %}