{% extends "base.html" %}
{% block content %}

<!-- Container -->
<div id="container">

<div class="breadcrumbs">
<a href="/">Home</a> |
<a href="/document/">Document</a>
</div>

   <!-- Content -->
    <div id="content" class="flex">
        
        <h1><b>Projects</b></h1>
        
  <div id="content-main">
    
      <div>
        <ul class="object-tools">
          
            <li>
              
              <a href="/add/project/" class="addlink">
                Add project
              </a>
            </li>
             <li>

              <a href="/add/document/" class="addlink">
                Add document
              </a>
            </li>
          
        </ul>
      </div>

    <div class="module filtered" id="changelist">
<!--<script type="text/javascript">document.getElementById("searchbar").focus();</script>-->


<div id="changelist-filter">
<h2>Filter</h2>

    <h3> By Name </h3>
    <ul>

        <li class="selected">
            {% for obj in projects %}
                <li><a href="{{ obj.get_absolute_url }}">{{ obj.name_of_project }}</a></li>
            {% endfor %}
        </li>
    </ul>

</div>
<form id="changelist-form" method="post" novalidate>{% csrf_token %}
<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col"  class="sortable column-name_of_project">
   <div class="text"><a href="?o=1">Name</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-created">
   <div class="text"><a href="?o=2">Documents</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for obj in projects %}
    <tr class="row1">
        <th class="field-name_of_project"><a href="{{ obj.get_absolute_url }}">{{ obj.name_of_project }}</a></th>
        <td class="field-created nowrap">{{ obj.id }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

<p class="paginator">
        <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>

</p>
</form>
    </div>
  </div>
        <br class="clear" />
    </div>
    <!-- END Content -->


    <div id="footer"></div>
</div>
<!-- END Container -->

{% endblock %}